/* color */
:root {
    --color-text: #00a4e3;
    --color-main: #1a7dd3;
    --color-logo: #85b2ff;
    --color-text1: #83c8f9;
    --color-background: rgba(236, 247, 255, 0.768);
    --color-h1: rgb(52, 71, 103);
    --color-p: rgb(123, 128, 154);
    --color-yellow: #f4c33c;
}


.glowing-border {
    border: 3px solid #00a4e3;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}

.glowing-border.b {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-align-items: center;
    background-color: #a1bfff;
    border: unset;
}

.glowing-border.b::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 140%;
    background-image: linear-gradient(230deg, #a1bfff, #0051ff);
    animation: ani 5s linear infinite;
}

.glowing-border.b::before {
    content: '';
    position: absolute;
    inset: 3px;
    background-color: white;
    border-radius: 8px;
    z-index: 1;
}

.glowing-border.v {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-align-items: center;
    background-color: #fff8bc;
    border: unset;
}

.glowing-border.v::after {
    content: '';
    position: absolute;
    width: 40%;
    height: 180%;
    background-color: #ffe600;
    animation: ani 5s linear infinite;
}

.glowing-border.v::before {
    content: '';
    position: absolute;
    inset: 3px;
    background-color: white;
    border-radius: 8px;
    z-index: 1;
}

@keyframes ani {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ------------------ */
/* C661412b2 Vamnaone */
/* ------------------ */

.c661412b2 {
    font-size: 16px;
}

.c661412b2-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.c661412b2-title>span {
    padding: 3px 15px;
    background: var(--color-text);
    color: white;
    font-size: 20px;
    border-radius: 3px
}

.c661412b2-title>h1 {
    font-size: 32px;
    color: var(--color-text);
    font-weight: 600;
    text-align: center;
}

/* left */
.c661412b2-left {
    position: relative;
}

.c661412b2-left>.c661412b2-posi-ab {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    top: 0;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    overflow: hidden;
    border: 3px solid var(--color-text);
    z-index: 0;
    border-radius: 8px 0 0 8px;
}

.c661412b2-left .c661412b2-posi-ab_bg {
    width: 100%;
    height: 100%;
    background-color: #004aab80;
    position: relative;
    z-index: 1;
}

.c661412b2-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
    position: relative;
    top: -100%;
    z-index: 0;
}

.c661412b2-contents {
    margin: 50px 0;
    left: 15%;
    position: relative;
    z-index: 1;
    width: 100%;
}

.c661412b2-items-wrap {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 50px #0000001a;
    border-radius: 16px;
}

.c661412b2-items-wrap>h1 {
    font-size: 32px;
}

.c661412b2-items-wrap>h2 {
    font-size: 1.5em;
}

.c661412b2-items-wrap>p {
    font-size: 1em;
    text-align: justify;
    margin: 0;
}

/* right */
.c661412b2-right {
    position: relative;
}

.c661412b2-right>.c661412b2-posi-ab {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120%;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 100%);
    overflow: hidden;
    border: 3px solid var(--color-text);
    z-index: 0;
    border-radius: 0 8px 8px 0;
}



.c661412b2-right .c661412b2-posi-ab_bg {
    width: 100%;
    height: 100%;
    background-color: #004aab80;
    position: relative;
    z-index: 1;
    top: -100%;
}



.c661412b2-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
    position: relative;
    z-index: 0;
}




.c661412b2-video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.c661412b2-video>i {
    font-size: 5em;
    color: rgb(236, 236, 236);
    position: relative;
    transition: transform 0.3s linear;
}

.c661412b2-video>i:hover {
    transform: scale(1.04);
    cursor: pointer;
    color: white;
}

/* event */

.c661412b2-background_click {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.c661412b2-iframe_click {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: max-content;
    z-index: 9999;
    border-radius: 16px;
    overflow: hidden;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.c661412b2-iframe_click>iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

/* reponsive */
@media (max-width: 75em) {
    .c661412b2-contents {
        left: 15%;
        width: 100%;
        margin: 30px 0;
    }

    .c661412b2 {
        font-size: 12px;
    }
}

@media (max-width: 62em) {
    .c661412b2-contents {
        left: 0;
        width: 100%;
    }

    .c661412b2-left>.c661412b2-posi-ab {
        clip-path: polygon(0 0, 0 50%, 50% 0);
    }

    .c661412b2-right {
        height: 300px;
    }

    .c661412b2-right>.c661412b2-posi-ab {
        width: 100%;
        clip-path: polygon(20% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 40%)
    }

    .c661412b2-iframe_click {
        width: 70%;
    }
}

@media (max-width: 36em) {
    .c661412b2 {
        font-size: 10px;
    }

    .c661412b2-title>h1 {
        font-size: 24px;
    }

    .c661412b2-left>.c661412b2-posi-ab {
        display: none;
    }

    .c661412b2-right>.c661412b2-posi-ab {
        width: 90%;
        transform: translate(-50%, 0);
        left: 50%;
        border: none;
        clip-path: unset;
        border-radius: 16px;
        box-shadow: 0 10px 50px #0000001a;
    }

    .c661412b2-iframe_click {
        width: 90%;
    }

    .c661412b2-title {
        margin-bottom: 10px;
    }

    .c661412b2-title>p {
        text-align: justify;
    }
}

@media (max-width: 25em) {
    .c661412b2-items-wrap {
        flex-direction: column;
    }

    .c661412b2-title>h1 {
        font-size: 18px;
    }

}

/* all */
a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
    font-family: "Roboto", sans-serif !important;
}

.title-non {
    font-size: 32px;
    font-weight: 600;
}

p,
h3,
h1,
ul {
    margin: 0;
}

html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.vam_wrap {
    width: 90%;
    height: max-content;
    margin: auto;
}

.vam_wrap2 {
    width: 80%;
    height: max-content;
    margin: auto;
}

.posiab {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vam_title {
    font-size: 3.5em;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    background: -webkit-linear-gradient(300deg, var(--color-logo) 0%, var(--color-main) 25%, var(--color-logo) 50%, var(--color-main) 75%, var(--color-logo) 100%) 0% 0% / 400% text;
    animation: vam_ani 18s linear infinite;
}

.vam_title3 {
    font-size: 2.5em;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    background: -webkit-linear-gradient(300deg, #7c51a1 0%, #E4027F 25%, #7c51a1 50%, #E4027F 75%, #7c51a1 100%) 0% 0% / 400% text;
    animation: vam_ani 18s linear infinite;
}


.vam_title2 {
    font-size: 3.5em;
    color: white;
    font-weight: 600;
}


.vam_title1 {
    font-size: 54px;
    color: var(--color-text);
    font-weight: 600;
}

.vam_titleup1 {
    background-image: -webkit-linear-gradient(top, hsl(0deg 0% 100% / 62%), rgb(255 255 255 / 18%), hsl(0deg 0% 100% / 0%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 68px;
    margin-bottom: -20px;
}

.vam_titleup2 {
    background-image: -webkit-linear-gradient(top, #2196f385, rgb(33 150 243 / 11%), hsl(0deg 0% 100% / 0%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 68px;
    margin-bottom: -20px;
}

.vam_titlecon {
    font-size: 1.5em;
    font-weight: 400;
    text-align: justify;
}

.vam_content {
    font-size: 18px;
    font-weight: 400;
    width: 90%;
    margin: 16px 0;
    color: white;
    text-align: center;
}

.vam_content1 {
    font-size: 18px;
    font-weight: 400;
    width: 90%;
}

.vam_button {
    outline: none;
    border: none;
    padding: 8px 20px;
    font-size: 1.1em;
    background: -webkit-linear-gradient(180deg, var(--color-logo) 0%, var(--color-main) 25%, var(--color-logo) 50%, var(--color-main) 75%, var(--color-logo) 100%) 0% 0% / 400%;
    animation: vam_ani 18s linear infinite;
    color: white;
    border-radius: 8px;
    transition: all .3s linear;
    cursor: pointer;
    text-transform: none;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.vam_button1 {
    outline: none;
    border: none;
    padding: 8px 20px;
    font-size: 1.1em;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    transition: all .3s linear;
    cursor: pointer;
    text-transform: none;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.vam_button1:hover {
    transform: scale(1.04);
    background-color: white;
    color: #00a4e3;
}

.vam_button:hover {
    transform: scale(1.04);
}

@keyframes vam_ani {
    0% {
        background-position: 0% center;
    }

    33% {
        background-position: 180% center;
    }

    66% {
        background-position: 0% center;
    }

    100% {
        background-position: 180% center;
    }
}

/* intro */

#intro {
    width: 100%;
    overflow: hidden;
    position: relative;
}

#intro_background-wrap {
    width: 100%;
    margin-left: auto;
    position: absolute;
    right: 0;
    z-index: -1;
    height: 100%;
}

#intro_background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#intro_img {
    position: absolute;
    bottom: 3px;
    width: 60%;
    left: 60%;
    transform: translate(-50%);
}

#intro_link,
#intro_down,
#intro_videosd {
    margin-top: 16px;
}

#intro_videosd {
    display: flex;
    gap: 7px;
}

#intro_down {
    background-color: white;
    color: var(--color-h1);
    font-weight: 500;
    animation: ali 1s linear infinite;
    transition: all .3s linear;
}

#intro_down:hover {
    animation: unset;
    transform: scale(1.03);
}

#intro_anim {
    display: flex;
    gap: 26px;
}

@keyframes ali {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1.03);
    }

    66% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

#intro_logo {
    width: 20%;
    object-fit: cover;
}

@media (max-width:1326px) {

    #intro_img {
        left: 70%;
    }

    .vam_con {
        width: 100% !important;
    }
}


@media (max-width:992px) {


    #intro .vam_con {
        width: 100% !important;
    }

    #intro_title {
        font-size: 32px;
    }

    #intro_content {
        font-size: 18px;
    }

    #intro .vam_wrap {
        height: 581px !important;
    }
}

@media (max-width:640px) {

    #intro_content {
        font-size: 14px;
    }

    #intro_title {
        font-size: 24px;
        text-align: center;
    }

    #intro .vam_button1 {
        font-size: 14px;
    }


}

@media (max-width:400px) {
    #intro .vam_wrap {
        height: 631px !important;
    }

}

/* Đối tác  */
.donvi_load-wrap {
    width: 19%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center
}

#doitac .vam_wrap2>div {
    padding: 20px 0 !important;
    gap: .6% !important;
}

@media (max-width:992px) {
    .donvi_load-wrap {
        width: 35%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center
    }

    #doitac .vam_wrap2>div {
        padding: 20px 0 !important;
        gap: 3.3% !important;
    }
}

/* --------------------- */
/* Header1412a1 Vamnaone */
/* --------------------- */
#header1412a1 {
    width: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 5px rgba(42, 42, 42, 0.138);
    height: 0;
    top: 0;
    position: relative;
    z-index: 999;
    color: var(--color-text);
}

#header_logo {
    transition: all .3s linear;
}

.header1412a1 {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    z-index: 99;
}

.header1412a1-list {
    display: flex;
    list-style: none;
    padding: 0;
    color: white;
}

.header1412a1-list>li {
    margin: 0 25px;
    font-size: 1.1em;
    cursor: pointer;
    transition: all .3s linear;
}

.header1412a1-list>li>.s {
    padding: 8px 25px;
    background-color: white;
    color: var(--color-h1);
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.1em;
}

.header1412a1-list>li.acc {
    color: var(--color-main);
    font-weight: 500;
}

.header1412a1-list>li>.s.acc {
    padding: 8px 25px;
    background-color: var(--color-text);
    color: white;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.1em;
}

.header1412a1-list>li:hover {
    transform: scale(1.05);
}

.header1412a1-logo {
    height: 70%;
    display: flex;
    align-items: center;
}

.header1412a1-logo>p {
    font-size: 1.7em;
    margin-left: 5px;
    color: var(--color-main);
    font-family: 'Rubik';
}

@media (max-width:992px) {

    .header1412a1-list {
        display: none;
    }

}

/* introd */

#introduce {
    width: 100%;
    overflow: hidden;
    background-color: white;
}

#introduce::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 33%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-image: url(../photo/c5779a01-9360-4414-8d74-8b82eae1a329.png);
    z-index: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.introd-vam_boxwrap {
    padding: 16px;
    z-index: 1;
}

#introduce::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-image: url(https://aimkt.misacdn.net/app/oom1sjoa/attachment/98d6a6d0-8ae2-4b3a-9f6b-d54f2ccca900.png);
    z-index: 0;
}

.scroll_rela_content p {
    text-align: justify;
    color: var(--color-h1);
}

.buttonvam {
    transition: all .3s linear;
    display: flex;
    align-items: center;
    padding: 8px 25px;
    background-color: white;
    color: var(--color-text);
    border: 3px solid var(--color-text);
    font-size: 18px;
    border-radius: 8px;
    position: relative;
}

.buttonvam:hover {
    background-color: var(--color-text);
    color: white
}

.introd-vam_boxwrap>div {
    padding: 30px;
    background-color: white;
    border: 2px solid #00a4e3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
    color: white;
    border-radius: 16px;
}

.introd-vam_i {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    width: max-content;
    background: -webkit-linear-gradient(180deg, var(--color-logo) 0%, var(--color-main) 25%, var(--color-logo) 50%, var(--color-main) 75%, var(--color-logo) 100%) 0% 0% / 400%;
    animation: vam_ani 18s linear infinite;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.introd-vam_i i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.introd-vam_i i::before {
    font-size: 24px;
}

.introd-vam_boxwrap h1 {
    font-size: 22px;
    color: rgb(52, 71, 103);
    padding: 16px 0;
}

.introd-vam_boxwrap p {
    font-size: 18px;
    color: rgb(123, 128, 154);
    text-align: justify;
}


.introduce_mt {
    padding: 12px 24px;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgb(80 156 255 / 26%) 0px 2px 8px 0px;
}


@media (max-width:992px) {
    #introduce .vam_con {
        width: 54% !important;
        margin-right: 0 !important;
        justify-content: start !important;
        height: max-content !important;
    }
}

@media (max-width:682px) {
    #introduce_background-wrap {
        display: none;
    }

    #introduce .vam_con {
        width: 100% !important;
    }

    .introduce_img-wrap {
        display: none;
    }

    #introduce .title-non {
        text-align: center;
        width: 100%;
    }
}

/* object */
.object {
    flex: 1;
    height: 100%;
}

#object_top {
    padding-top: 50px;
    background-image: linear-gradient(90deg, var(--color-text), #a6d2ff);
}

.object_wrapimg {
    border: 3px solid white;
    box-shadow: rgba(255, 255, 255, 0.588) 0px 7px 29px 0px;
    margin: 16px;
    border-radius: 16px 16px 0 0;
    color: black;
    height: 100%;
    position: relative;
    border-bottom: none;
    margin-bottom: 0;
}

.object_img-wrap {
    height: 100%;
    position: relative;
    height: 250px;
    overflow: hidden;
}

.object_wrapimg>img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.object_wrapcontent {
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 22px;
    border: 3px solid white;
    box-shadow: rgba(132, 189, 255, 0.558) 0px 7px 29px 0px;
    margin: 16px;
    border-radius: 0 0 16px 16px;
    color: black;
    height: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.object_button {
    cursor: pointer;
    background-color: #009bfff5;
    padding: 12px;
    color: white;
    border-radius: 3px;
    box-shadow: #4d90fe57 0px 2px 8px 0px;
    transition: all .3s linear;
}

#object_titleup {
    background-image: -webkit-linear-gradient(top, hsla(0, 0%, 100%, .3), rgba(240, 239, 241, .1), hsla(0, 0%, 100%, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: 68px;
}

.object_button.ac {
    background-color: white;
    color: #00a4e3;
    animation: ob1 .3s linear forwards;
}

.object_content-wrap {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

@keyframes ob1 {
    0% {
        opacity: 1;
        left: 20px;
    }

    100% {
        opacity: 0;
        left: 200px;
    }
}

.object_button:hover {
    transform: scale(1.04);
}

#object h4 {
    padding-bottom: 50px;
    color: white;
    background: none;
    -webkit-text-fill-color: unset;
    text-align: center;
}

#object h3 {
    font-size: 22px;
}

#object p {
    font-size: 18px;
}

.object h3 {
    text-align: center;
    margin-bottom: 16px;
}

@media (max-width:992px) {
    #object .vam_wrap {
        flex-direction: column !important;
    }

    .object_img-wrap {
        display: none;
    }

    .object_content-wrap {
        flex-direction: column;
        margin-top: -30px;
    }

    .object_wrapcontent {
        background: white;
        border-radius: 16px 0 16px 0;
    }
}

@media (max-width:692px) {
    #object h3 {
        font-size: 20px;
    }

    #object p {
        font-size: 16px;
    }

    .object>div {
        padding: 16px;
    }


}

#phongvan_video {
    width: 100%;
    margin: auto;
    position: relative;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

#phongvan_video iframe {
    width: 60%;
    border-radius: 7px;
}

#linkg,
#linktl {
    color: var(--color-text);
    cursor: pointer;
}

#scroll #scroll_title {
    font-size: 32px;
    color: var(--color-text);
    font-weight: 600;
    text-align: center;
}

/*/ scroll */

/* thông điệp*/
.scroll-thongdiep_title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 50px;

}

.scroll-thongdiep_title>span {
    padding: 3px 15px;
    background: var(--color-text);
    color: white;
    font-size: 20px;
    border-radius: 3px;
}

.scroll-thongdiep_title>h1 {
    font-size: 32px;
    color: var(--color-text);
    font-weight: 600;
    text-align: center;
}

.scroll-thongdiep_title>p {
    font-size: 18px;
    text-align: justify;
}

.scroll-thongdiep_content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.scroll-thongdiep_content-chuyen {
    padding: 30px;
}

.scroll-thongdiep_content-chuyen h1 {
    font-size: 32px;

}

.scroll-thongdiep_content-chuyen p {
    text-align: center;
    font-size: 16px;
}

.scroll-thongdiep-chuyendong {
    width: 30%;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
}

.scroll-thongdiep-chuyendong>div {
    height: 26px;
    width: 26px;
    top: 2px;
    border-radius: 50%;
    background-color: var(--color-text);
    position: absolute;
    left: 2px;
    transition: all .3s linear;
}

.scroll-thongdiep-chuyendong>div.on {
    height: 26px;
    width: 26px;
    top: 2px;
    border-radius: 50%;
    background-color: var(--color-text);
    position: absolute;
    left: calc(100% - 28px);
    transition: all .3s linear;
}

.scroll-hinhthuc_content {
    display: flex;
    justify-content: space-between;
}

.scroll-hinhthuc_content>div {
    flex: 1;
    padding: 30px;
}

.scroll-hinhthuc_wrapitems>div {
    padding: 20px;
    background-color: var(--color-text);
    border-radius: 16px;
    color: white;
    height: 100%;
}

.scroll-hinhthuc_wrapitems h1 {
    font-size: 22px;
}

.scroll-hinhthuc_wrapitems p {
    margin-top: 16px;
    font-size: 16px;
}

.scroll-tuduy {
    display: flex;
    padding: 30px 0;
    align-items: start;
}

.scroll-td_content {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scroll-td_content>div {
    display: flex;
    align-items: start;
    gap: 16px;
    padding: 10px 0;
}

#scroll h1 {
    font-size: 24px;
    padding-bottom: 20px;
    color: var(--color-h1);
}

#scroll i {
    color: var(--color-text);
}

.scroll-td_content p {
    text-align: justify;
    font-size: 18px;
    color: var(--color-p);
}

.scroll-thongdiep_content-chuyen>div {
    padding: 20px;
    background: var(--color-text);
    color: white;
    border-radius: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.scroll-thongdiep_content-wrapitems {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.scroll-thongdiep_content-wrapitems h1 {
    font-size: 22px;
    padding: 12px 0;
    color: rgb(52, 71, 103);
    font-weight: 600;
}

.scroll-thongdiep_content-wrapitems p {
    font-size: 18px;
    color: rgb(123, 128, 154);
}

.scroll-thongdiep_content>div {
    flex: 1;
}

.scroll-thongdiep_content i {
    color: var(--color-text);
    font-size: 22px;
}

/* */

.dieukien_top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 50px 0;
}

.dieukien_top h3 {
    padding: 3px 15px;
    color: var(--color-text);
    background-color: white;
    font-size: 20px;
    border-radius: 8px;
}

.dieukien_top h1 {
    text-align: center;
    color: white;
    font-size: 32px;
}

.dieukien_top ul {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px 0;
}


.dieukien_bottom {
    padding: 30px;
    border: 1px solid var(--color-main);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dieukien_bottom>div {

    color: white;
    padding: 16px;
}

.dieukien_bottom>div>div {
    border-radius: 8px;
    background-color: white;
    border: 3px solid var(--color-main);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.dieukien_bottom i {
    margin-right: 16px;
    color: var(--color-text);
    ;
}

.dieukien_bottom>div>div {
    position: relative;
}

.dieukien_title-bang {
    display: flex;
    align-items: end;
    padding: 16px;
    width: 100%;
    justify-content: center;
    gap: 16px;
    padding-top: 30px;
}

.videodieukien {
    position: absolute;
    width: 60px;
    height: 50px;
    padding: 5px 20px;
    top: 0px;
    left: 0px;
    font-size: 16px;
    border-radius: 6px 0 25px 0;
    background-color: #c30000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: all .5s linear;
    flex-direction: column;
    align-items: center;
    z-index: 9;
}

.videodieukien i {
    color: white;
    font-size: 24px;
    margin: 0;
    margin-right: 5px;
    transition: all .4s linear;
}

.videodieukien>p {
    opacity: 0;
    width: 90%;
    text-align: center !important;
    transition: all .5s linear;
    color: white !important;
    font-size: 0px;
    padding: 0 !important;
}

.videodieukien:hover {
    width: 100%;
    border: 5px;
    height: 100%;
    z-index: 99;

}

.videodieukien:hover i {
    font-size: 40px;
}

.videodieukien:hover p {
    opacity: 1;
    font-size: 22px;
    transition: all .1s linear;
    transition-delay: 0s;
}

.dieukien_title-bang img {
    width: 40%;
    object-fit: cover;
}

.dieukien_title-bang h1 {
    font-size: 32px;
    color: var(--color-text);
    font-weight: 600;
}

.dieukien_bottom p {
    padding: 16px;
    color: var(--color-p);
    text-align: justify;
}


.scroll-thongdiep_title ul {
    padding: 30px 0;
}

.scroll-thongdiep_title li {
    display: flex;
    gap: 16px;
}

/* popup */
.box-wrap {
    position: fixed;
    width: 80%;
    height: 80vh;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9998;

}

.box {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.box::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}

.box::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: var(--color-text);
    border-radius: 8px;
}

.box-content {
    width: 100%;
    height: max-content;
    position: relative;
}

.box-content>h1 {
    font-size: 32px;
    color: var(--color-text);
    text-align: center;
}



/* */
#pdfViewer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 99999999999999999999;
}

#pdfViewer-wrap {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
}

#out-pdfViewer {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    transition: all .3s linear;
}

#out-pdfViewer:hover {
    gap: 16px;
    color: var(--color-text);
}

/*/*/

.dieukien_bottom button,
.dieukien_bottom .dkthamgia {
    margin: 16px;
    transition: all .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: white;
    color: var(--color-text);
    border: 3px solid var(--color-text);
    font-size: 20px;
    border-radius: 8px;
    position: relative;
}

.dieukien_bottom .dkthamgia {
    font-size: 13px;
}

.dieukien_bottom .dkthamgia:hover {
    background-color: var(--color-text);
    color: white;
}

#device {
    cursor: pointer;
    color: var(--color-text);
}

#desoloai {
    color: var(--color-text);
    cursor: pointer;
    font-weight: 600;
}

.dieukien_bottom button:hover {
    background-color: var(--color-text);
    color: white;
}

.dieukien_bottom a {
    font-size: 13px;
    font-family: "Roboto", sans-serif !important;
}

/* device */

.device>div {
    padding: 16px;
    display: flex;
    align-items: start;
    gap: 30px;
}

.scroll-device_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.scroll-device_title img {
    aspect-ratio: 1/1.3;
    width: 100%;
    object-fit: cover;
}

.scroll-device_title>div {
    display: flex;
    position: relative;
    z-index: 0;
}

.scroll-device_title h1 {
    font-size: 32px;
}

.device i {
    color: var(--color-text);
}

.device_box {
    display: flex;
    width: 100%;


}

.device_box-nav {
    width: 160px;
    display: flex;
    flex-direction: column;
}

.device_box-nav_con {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(242, 242, 242);
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-p);
    position: relative;
}

.device_box-nav_con>p {
    font-weight: 600;
}

.device_box-nav_con>span {
    position: absolute;
    top: 10px;
    left: 10px;
}

.device_box-nav_con.acc {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--color-text);
    padding: 16px;
    color: white;
}


.device_box-content {
    padding: 30px;
    flex: 1;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-height: 500px;
}



.device_box-content-wrap {
    width: calc(100% - 300px);
}

.device_box-content::after {
    position: absolute;
    content: '';
    width: 300px;
    right: -14px;
    height: calc(100% + 15px);
    top: -16px;
    width: 300px;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    background-color: var(--color-text);
    z-index: -1;
}

.device_box-content::before {
    position: absolute;
    content: '';
    width: 300px;
    right: -30px;
    height: calc(100% + 15px);
    top: 0;
    width: 300px;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    background-color: #5f5f5f;
    z-index: -1;
}

.iconvam {
    width: 10px;
    height: 10px;
    clip-path: polygon(25% 0, 100% 0%, 75% 100%, 0% 100%);
    background-color: var(--color-text);
    margin: 7px;
}

.contentdevice h1 {
    font-size: 26px;
    color: var(--color-h1);
    padding: 10px 0;
}

.contentdevice p {
    color: var(--color-p);
}


.device_box-img {
    position: absolute;
    right: -15px;
    height: calc(100% + 15px);
    top: -15px;
    width: 300px;
    overflow: hidden;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: white;
}

.device_box-img>img {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

/* timeline */
.donvi_load-wrap {
    transition: all .3s linear;
}

.donvi_load-wrap:hover {
    transform: scale(1.05);
}

#itro-spanns {
    color: white;
    padding: 10px 0;
    font-size: 24px;
    font-weight: 900;
}

#timeline_load {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.timeline_con {
    display: flex;
    width: 80%;
    border: 1px solid white;
    padding: 16px;
    color: white;
}

.timeline_items {
    width: 180px;
}


#timeline_list-wrap {
    display: flex;
    gap: 30px;
    width: max-content;
}

#scrool_x::-webkit-scrollbar {
    background-image: linear-gradient(70deg, #acacac, #a3a3a3);
    height: 15px;
    cursor: pointer;
    width: 80%;
}

#scrool_x::-webkit-scrollbar-thumb {
    background-color: #00a4e3;
    border-radius: 10px;
    cursor: pointer;
    width: 20%;

}

@media (max-width: 1525px) {
    #scrool_x {
        overflow-x: auto !important;
    }
}

@media (max-width: 992px) {
    .toggle-container {
        width: 40%;
        left: 60%;
    }



    .toggle {
        left: -150%;
        width: 250%;
    }

    .toggle-panel {
        width: 40%;

    }

    .containers.active .toggle-container {
        transform: translateX(-150%);
        border-radius: 0 150px 100px 0;
    }

    .containers h1 {
        font-size: 28px;
    }

    .form-container {
        padding: 25px;
    }

    .sign-in {
        width: 60%;
    }

    .sign-up {
        width: 60%;
    }

    .containers p {
        margin: 10px 0;
    }

    .containers.active .sign-up {
        transform: translateX(67%);
        opacity: 1;
        z-index: 5;
        animation: move 0.6s;
    }

    .hiddens {
        padding: 15px !important;
        font-family: "Questrial", sans-serif !important;
    }
}

@media (max-width: 640px) {
    .toggle-container {
        display: none;
    }

    #scrool_x {
        overflow-x: hidden !important;
    }


    #container {
        height: max-content;

    }

    #timeline_list-wrap {
        flex-direction: column;
        width: 100%;
    }

    .sign-up {
        opacity: 1;
        width: 100%;
        display: block;
    }

    .timeline_item-content {
        aspect-ratio: 2 / 1 !important;
    }

    .timeline_items {
        width: 100%;
        height: max-content;
    }

    .sign-in {
        width: 100%;
    }

    .form-container {
        position: unset;
    }
}

/* */

.scroll_rela {
    display: flex;
}


.scroll_rela_title h1 {
    font-size: 28px;
    color: #344767;
}

.scroll_rela_title p {
    margin-top: 10px;
    color: rgb(123, 128, 154);
    font-size: 18px;
}

.scroll_rela {
    padding: 50px 0;
}

/* timeline */

.timeline_wrap {
    display: flex;
    height: 100%;
    align-items: center;
}

.dot {
    height: 100%;
    width: 4px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

.dot>div {
    background-color: var(--color-text);
    width: 4px;
    position: relative;
}

.dot>div.start {
    animation: timeline .5s linear forwards;
}

.dot[index="2"]>div {
    height: 0%;
    background-color: var(--color-text);
    width: 4px;
    position: relative;
}

.dot[index="2"]>div.start {
    animation: timeline .5s .5s linear forwards;
}

.dot[index="3"]>div {
    height: 0%;
    background-color: var(--color-text);
    width: 4px;
    position: relative;
}

.dot[index="3"]>div.start {
    animation: timeline .5s 1s linear forwards;
}

.dot[index="4"]>div {
    height: 0%;
    background-color: var(--color-text);
    width: 4px;
    position: relative;
}

.dot[index="4"]>div.start {
    animation: timeline .5s 1.5s linear forwards;
}

.dot[index="5"]>div {
    height: 0%;
    background-color: var(--color-text);
    width: 4px;
    position: relative;
}

.dot[index="5"]>div.start {
    animation: timeline .5s 2s linear forwards;
}

.dot[index="6"]>div {
    height: 0%;
    background-color: var(--color-text);
    width: 4px;
    position: relative;
}

.dot[index="6"]>div.start {
    animation: timeline .5s 2.5s linear forwards;
}

.dot[index="7"]>div {
    height: 0%;
    background-color: var(--color-text);
    width: 4px;
    position: relative;
}

.dot[index="7"]>div.start {
    animation: unset;
}

.timeline_time span {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 600;
}

@keyframes timeline {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.dot>div::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--color-text);
    border-radius: 50%;

}

.timeline_time {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline_time>div {
    width: 80%;
}

.timeline_time h1 {
    font-size: 32px;
}

/* organizational */
#organizational {
    padding: 50px 0;
    background-color: white;
}

#organizational_img1 {
    position: relative;
}

#organizational_img1::after {
    position: absolute;
    content: '';
    width: 95%;
    aspect-ratio: 1 / 1;
    background-color: #cdebfd;
    right: 0;
    z-index: 1;
    height: auto;
    top: 5%;
    border-radius: 16px;
}

#organizational_img1::before {
    position: absolute;
    content: '';
    width: 95%;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(70deg, #ea0c8a52, #09359455);
    left: 0;
    z-index: 1;
    height: auto;
    top: 0;
    z-index: 3;
    border-radius: 16px;
}

#organizational_content1 {
    background-color: #f2fafe;
    border: 1px solid #d8f1fb;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 30px;
    margin: 30px 0;
}


@media (max-width:992px) {
    .organizational .repo {
        position: relative;
    }

    #organizational_img1 {
        position: absolute !important;
        width: 15%;
    }

    .organizational_content>h4 {
        margin-left: 20% !important;
        font-size: 26px;
    }

    #organizational_content1 {
        margin-left: 5%;
        margin-top: 0;
    }
}

@media (max-width:640px) {
    .organizational .repo {
        position: relative;
    }

    #organizational_img1 {
        display: none;
    }

    .organizational_content>h4 {
        margin-left: unset !important;
        font-size: 22px;
    }

    #organizational_content1 {
        margin-left: 0%;
        margin-top: 0;
    }
}

/* prize_wrap */
.prize_wrap {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

#prize_logo,
#prize_img {
    width: 100%;
}

#prize_img {
    border-radius: 8px;
}

.addprize_wrap {
    border-radius: 8px;
    border: 2px solid var(--color-main);
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.name-ct {
    text-align: center;
    color: var(--color-h1);
    font-size: 44px;
    text-transform: uppercase;
    position: relative;
    width: max-content;
    font-weight: 600;
}

.name-ct::after {
    position: absolute;
    content: '';
    background-image: linear-gradient(90deg, var(--color-text), var(--color-main));
    width: 70%;
    height: 8px;
    border-radius: 3px;
    bottom: 0;
    right: -10px;
    clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
}

.name-ct.v::after {
    position: absolute;
    content: '';
    background-image: linear-gradient(90deg, #ffeab2, var(--color-yellow));
    width: 70%;
    height: 8px;
    border-radius: 3px;
    bottom: 0;
    right: -10px;
    clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
}

.name-vong {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    padding: 20px 0;
}

.name-vong img {
    height: 100px;
    width: auto;
    object-fit: cover;
}

.name-vong p {
    font-size: 24px;
    color: var(--color-h1);
    font-weight: 600;
}

.giaithuong {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.giaithuong h3 {
    font-size: 24px;
    padding: 5px 10px;
    background-color: var(--color-text);
    color: white;
    border-radius: 3px;
}

.giaithuong.v h3 {
    font-size: 24px;
    padding: 5px 10px;
    background-color: var(--color-yellow);
    color: white;
    border-radius: 3px;
}

.giaithuong span,
.giaithuongp span {
    font-size: 18px;
    color: var(--color-h1);
    font-weight: 500;
}

.giaithuongp {
    padding: 16px 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    list-style: disc;
    padding-left: 16px;
}

/*time */
#countdown {
    font-weight: 600;
}

.time_clock {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.time_clock>div {
    padding: 16px;
    background-color: var(--color-logo);
    font-size: 20px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}

.time_video {
    position: relative;
    width: 70%;
    aspect-ratio: 16 / 9;
    margin: 32px auto;
    margin-top: 64px;
}

.time_background {
    width: 98%;
    height: 98%;
    top: 0;
    right: 0;
    background-color: var(--color-logo);
    position: absolute;
    border-radius: 8px;
}

.time_video iframe {
    width: 98%;
    height: 98%;
    bottom: 0;
    left: 0;
    background-color: var(--color-logo);
    position: absolute;
    border-radius: 8px;
}

.time_clock {
    position: relative;
}

#hours::before {
    content: 'Giờ';
    position: absolute;
    width: max-content;
    bottom: -30px;
    font-size: 16px;
    color: black;
}

#minutes::before {
    content: 'Phút';
    position: absolute;
    width: max-content;
    bottom: -30px;
    font-size: 16px;
    color: black;
}

#seconds::before {
    content: 'Giây';
    position: absolute;
    width: max-content;
    bottom: -30px;
    font-size: 16px;
    color: black;
}

#days {
    background-image: linear-gradient(140deg, #6acbff, #8fb6ff);
}

#hours {
    background-image: linear-gradient(140deg, #b2c8ff, #3d7aff);
}

#minutes {
    background-image: linear-gradient(140deg, #5e91ff, #89ceff);
}

#seconds {
    background-image: linear-gradient(140deg, #b2c8ff, #3d7aff);
}

#days::before {
    content: 'Ngày';
    position: absolute;
    width: max-content;
    bottom: -30px;
    font-size: 16px;
    color: black;
}

/* question */
.question_div {
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    margin: 32px 0;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 10px;
}

.question_load {
    height: 0;
    overflow: hidden;
    transition: all .3s linear;
    background: white;
    margin: 0 25px;
    border-radius: 16px;
}

.question_load.hide {
    padding: 16px;
    height: max-content;
    transition: all .3s linear;
}

.question_div i {
    transform: rotate(180deg);
    color: var(--color-text);
    font-size: 24px;
}

.question_div i.hide {
    transform: rotate(0deg);
}

#question_load h3 {
    font-size: 32px;
}

/* footer */

#footer {
    background-color: #061e27
}

.footer_wrap {
    display: flex;
    gap: 32px;
}

.footer_wrap>div {
    flex: 1;
}

#footer p {
    margin: 10px 0;
    text-align: justify;
}

#footer h2 {
    font-size: 28px;
}


#footer i::before {
    font-size: 24px;
}

.bottom_ft {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px 0;
}


@media (max-width:992px) {
    .footer_wrap {
        flex-direction: column;
    }
}

@media (max-width:640px) {
    .footer_wrap {
        flex-direction: column;
    }

    .bottom_ft {
        font-size: 12px;
    }
}

/* --------------------- */
/* Banner */
/* --------------------- */
#banner {
    width: 100%;
    aspect-ratio: 1600/700;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
}

.banner__background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.banner__background>img {
    object-fit: cover;
    object-position: center;
    min-width: 100%;
}

.banner__navbanner {
    position: absolute;
    width: 75%;
    left: 50%;
    transform: translate(-50%);
    height: max-content;
    bottom: 0;
    display: flex;
    align-items: end;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navbanner-items {
    height: 5rem;
    flex: 1;
    background: rgba(85, 85, 85, 0.75);
    padding: 1rem;
    cursor: pointer;
    transition: all .3s linear;
    border-top: 0px solid #fca619;
}

.navbanner-items.acction {
    border-top: 3px solid #fca619;
    height: 6rem;
}

.navbanner-items>p {
    color: white;
    font-size: 1em;
}

.banner-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    display: none;
    flex-direction: column;
    color: white;
}

.banner-contents.acction {
    display: flex;

}

.banner-contents h1 {
    font-size: 2.5em;
    font-weight: 600;
    animation: banner_content .5s linear forwards;
}

.banner-contents p {
    font-size: 1.3em;
    animation: banner_content .5s linear forwards;
}

#linkpage a {
    transition: all .3s linear;
}

#linkpage:hover a {
    transform: translateX(5px);
}

@keyframes banner_content {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 998;
}

.slider>div {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.slider>div:hover i {
    transform: scale(1.2);
}

.slider i {
    font-size: 2rem;
    color: white;
    transition: all .2s linear;
}

.banner-imgs {
    display: none;
}

.banner-imgs.acction {
    display: block;
}


/* all */
@media (max-width: 682px) {
    .vam_title {
        font-size: 2em;
    }

    .vam_wrap2 {
        width: 90%;
    }
}

@media (max-width:500px) {
    .vam_title {
        font-size: 1.5em;
    }
}

@media (max-width:400px) {
    .vam_title {
        font-size: 1em;
    }
}

/* */
.slider-container {
    width: 100%;
    height: max-content;
    background-image: url('Images/bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slider-images {
    display: flex;
    align-items: center;
    gap: 21px;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.slider-img {
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
    height: 320px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(6) {
    height: 360px;
}

.slider-images .slider-img:nth-child(3),
.slider-images .slider-img:nth-child(4),
.slider-images .slider-img:nth-child(5) {
    height: 400px;
}

#image h1 {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
}

.details {
    position: absolute;
    bottom: 43px;
    left: 43px;
}

.details h2 {
    font-family: "Jost", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.details p {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}

.slider-img.active {
    width: 766px !important;
    height: 450px !important;
}

.slider-img.active h1 {
    display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
    display: block;
}


/* question */
#question {
    background-image: url(https://aimkt.misacdn.net/admin/template/assets/landing-pages-v2/86c9615c-cc08-4a41-bec4-8a39fae0a2f1.png);
    padding: 50px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
}

#question h3 {
    padding-bottom: 50px;
    color: white;
    background: none;
    -webkit-text-fill-color: unset;
    text-align: center;
}

@media (max-width: 992px) {
    .vam_title1 {
        font-size: 36px;
    }

    .vam_titleup1,
    .vam_titleup2 {
        font-size: 42px;
    }

    .time_video {
        width: 100%;
    }

    #question h3 {
        color: var(--color-text);
    }

    #question {
        background-image: unset;
        padding: 50px 0;
    }
}

@media (max-width: 640px) {
    #question h3 {
        font-size: 18px;
    }

    .donvi_load-wrap {
        width: 35%;
        padding: 10px;
    }

    .title-non {
        font-size: 18px;
    }

    .vam_title1,
    .vam_title {
        font-size: 28px;
    }

    .vam_titleup1,
    .vam_titleup2 {
        display: none;
    }
}

.biggame-s2b-slider {
    position: relative;
}

.biggame-s2b-slider::before {
    content: '*Lướt để xem các hình ảnh khác.';
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

#outpopup {
    display: none;
    position: absolute;
    font-size: 24px;
    top: 0;

    gap: 10px;
}

#outpopup:hover {
    gap: 16px;
    color: var(--color-text);
}

#cdtmb {
    display: none;
}

#ft_logo {
    width: 70%;
}

#ft_logo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgugot {
    overflow: hidden;
}

#loadcontent h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 16px 0;
    color: var(--color-h1);
}

#loadcontent p {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-p);
    text-align: justify;
    width: 98%;
}

#imgugot::before {
    content: '';
    position: absolute;
    bottom: 0;
    background-image: url(https://lh3.googleusercontent.com/d/1P_xz5NBuUulqfxjIFIfGLlWEKAmYAsVL);
    left: 0;
    width: 100%;
    height: 100px;
    background-size: cover;
}

#prize h3 {
    text-align: center;
}

#chunketmb {
    width: 100%;
}

@media (max-width: 982px) {
    #itro-spanns {
        font-size: 18px;
    }

    .hiddenlogo {
        display: none;
    }

    #outpopup {
        display: flex;
    }

    .scroll_rela_title>div {
        padding: 30px 0;
    }

    #dotmb {
        display: none;
    }

    .scroll-td_content {
        margin: 0;
    }

    .device_box-content::before,
    .device_box-content::after,
    .device_box-img {
        display: none;
    }

    .device_box-content-wrap {
        width: 100%;
    }

    .scroll-tuduy {
        display: flex;
        padding: 30px 0;
        flex-direction: column;
        gap: 30px;
    }

    .bottom_ft p {
        text-align: center !important;
    }

    #introduce::before,
    #introduce::after {
        display: none;
    }

    .scroll_rela {
        flex-direction: column;
    }

    .box-wrap {
        width: 100%;
        height: 100%;
        border: none;
    }

    .box-content {
        padding-top: 50px;
    }

    #giathuong {
        padding-top: 30px;
    }

    #fotmb {
        display: none;
    }

    #chunketmb {
        flex-direction: column;
    }

    #cdacbietmb {
        display: none;
    }

    #chuthichmb {
        justify-content: center !important;
    }

    #cdtmb {
        display: unset;
    }
}

@media (max-width:778px) {


    .device_box-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .device_box {
        flex-direction: column;
    }

    .device_box-nav_con {
        height: 80px;
    }
}

@media (max-width: 640px) {
    .header1412a1 {
        display: none;
    }

    #header_logo {
        display: none;
    }

    #intro_logo {
        width: 40%;
    }

    #prive_mb {
        padding-bottom: 150px !important;
    }

    .scroll-thongdiep_title>h1 {
        font-size: 24px;
    }

    .device_box-nav_con>p {
        font-size: 14px;
    }

    .device_box-nav_con>span {
        font-size: 12px;
    }

    .contentdevice h1 {
        font-size: 20px;
    }

    #ft_logo {
        width: 40%;
    }

    .introd-vam_boxwrap h1 {
        font-size: 18px;
    }

    .giaithuong h3 {
        font-size: 16px !important;
    }

    .giaithuong>div>div {
        padding: 3px !important;
    }

    #ft_logo-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #itro-spanns {
        font-size: 14px;
        text-align: center;
    }

    .contentdevice p {
        font-size: 16px;
    }

    .scroll-thongdiep_title>p {
        font-size: 16px;
    }

    .scroll-td_content p {
        font-size: 16px
    }

    .time_clock>div {
        padding: 10px;
        background-color: var(--color-logo);
        font-size: 18px;
        width: 50px;
        height: 50px;
    }

    .question_div {
        margin: 10px 0;
        padding: 10px;
    }

    .vam_content1 {
        font-size: 16px;
    }

    .introd-vam_boxwrap p {
        font-size: 16px;
    }
}

@media (max-width:400px) {
    .name-ct {
        font-size: 24px;
        padding: 10px;
    }

    #intro_title {
        font-size: 20px;
        text-align: center;
    }

    #chuthichmb>span {
        font-size: 12px;
    }

    #d76,
    #cdtmb {
        font-size: 12px;
        text-align: center;
    }


    .p67>strong {
        font-size: 20px !important;
    }

    .p67 {
        font-size: 20px !important;
    }

    .p67>img {
        width: 50px !important;
    }


    .giaithuong h3 {
        font-size: 12px !important;
    }

    .giaithuong>div>div {
        padding: 3px !important;
    }

    .chuthichall {
        font-size: 12px;
    }

    #intro_content {
        font-size: 13px;
        text-align: justify;
    }

    #intro_anim {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 90%;
    }

    #intro .vam_button1 {
        font-size: 14px;
        text-align: center;
        justify-content: center;
    }

    #intro_logo {
        width: 60%;
    }
}